title = "API Title"
version = "V0.1"

[[groups]]
name = "users"

	[[groups.endpoints]]
	route = "/find"
	name = "find_user_by_id"
	http_verb = "Get"
	query_param = {name = "user_id", field_type = "String"}
	success_code = 200
	return_model_name = "UserResponse"
	return_model = """\
	{
		name: String,
		age: u16,
		email: String,
	}"""


	[[groups.endpoints]]
	route = "/find/all"
	name = "find_all_users"
	http_verb = "Get"
	success_code = 200
	return_model_name = "UserResponseList"
	return_model = """\
	{
		users: Vec<UserResponse>,
	}"""
