title = "API Title"
version = "V0.1"

[[groups]]
name = "users"

	[[groups.endpoints]]
	route = "/find"
	http_verb = "Get"
	query_param = {name = "user_id", field_type = "String"}
	success_code = 200
	return_model = """
	struct UserResponse {
		name: String,
		age: u16,
		email: String,
	}
	"""

